* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b0e;
  color: #fff;
  font-family: 'Oxanium', sans-serif;
}

/* HEADER */
header {
  background: #111118;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1f1f28;
  position: sticky;
  top: 0;
  z-index: 20;
}

.logo {
  height: 40px;
}

.top-links a {
  color: #00e1ff;
  border: 1px solid #00e1ff;
  padding: 8px 12px;
  border-radius: 6px;
  margin-left: 10px;
  text-decoration: none;
  transition: .3s;
}

.top-links a:hover {
  background: #00e1ff;
  color: #000;
}

/* HERO */
.hero {
  text-align: center;
  padding: 30px 20px;
}

.hero h1 {
  font-size: 30px;
  color: #00e1ff;
  margin-bottom: 8px;
}

.hero p {
  color: #bbb;
}

/* LISTA */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.searchBar {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background: #16161d;
  color: #fff;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 22px;
}

/* CARD */
.card {
  background: #14141b;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #24242e;
  cursor: pointer;
  transition: .2s;
}

.card:hover {
  transform: scale(1.03);
  border-color: #00e1ff;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.tagList span {
  background: #4d00ff;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 6px;
  font-size: 12px;
}

.price {
  color: #00ff9d;
  font-weight: bold;
  margin-top: 10px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  background: #14141b;
  padding: 25px;
  max-width: 550px;
  width: 100%;
  border-radius: 12px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

/* BUTTON */
.btnOferta {
  display: block;
  background: #00e1ff;
  color: #000;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 12px;
  text-decoration: none;
}

/* TOAST */
#toast {
  position: fixed;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  background: #00e1ff;
  padding: 12px 22px;
  color: #000;
  font-size: 15px;
  border-radius: 8px;
  display: none;
  font-weight: bold;
}
